* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.me {
  position: absolute;
  top: 50px;
  left: 100px;
  z-index: 10;
  color: white;
  font-size: large;
  display: flex;
  flex-direction: column;
}
